modules = ["nodejs-24", "python-3.11", "ruby-3.2", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true
integrations = ["revenuecat:1.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
EXPO_PUBLIC_REVENUECAT_TEST_API_KEY = "test_yvvuNWIxDaKgAQpTApPJmRnlWvv"
EXPO_PUBLIC_REVENUECAT_IOS_API_KEY = "appl_daYhucyljOPkntTBFHuxDXimskq"
EXPO_PUBLIC_REVENUECAT_ANDROID_API_KEY = "goog_MzEYSOPrTiWwvPrMVRHXGyBSKgj"
REVENUECAT_PROJECT_ID = "projdc470e96"
REVENUECAT_TEST_STORE_APP_ID = "appa5947436af"
REVENUECAT_APPLE_APP_STORE_APP_ID = "appc58c9dc509"
REVENUECAT_GOOGLE_PLAY_STORE_APP_ID = "app1b4dc05830"
AI_INTEGRATIONS_ANTHROPIC_API_KEY = "_DUMMY_API_KEY_"
AI_INTEGRATIONS_ANTHROPIC_BASE_URL = "http://localhost:1106/modelfarm/anthropic"
PRIVATE_OBJECT_DIR = "/replit-objstore-22301cf6-7914-432b-adb3-c6a15eea1796/.private"
DEFAULT_OBJECT_STORAGE_BUCKET_ID = "replit-objstore-22301cf6-7914-432b-adb3-c6a15eea1796"
PUBLIC_OBJECT_SEARCH_PATHS = "/replit-objstore-22301cf6-7914-432b-adb3-c6a15eea1796/public"
ADMIN_TOKEN = "EoDsNibkuKk9VFapDZ0f3YHcc5Lkt0se"
ELEVEN_LABS_API_KEY = "sk_ac1aa72e7b999524847699e5dc3b1819d3fdcb14ff660719"
EXPOP_TOKEN = "s33SCbTmA5EvBARSiUOTvb-A0YfBW7PBQxmR3ODZ"
EXPO_TOKEN = "s33SCbTmA5EvBARSiUOTvb-A0YfBW7PBQxmR3ODZ"
ASC_APP_ID = "6788260668"
OVERPASS_PROXY_URL = "https://sagatrail.ch/overpass-proxy.php"

[userenv.development]

[userenv.production]

[[ports]]
localPort = 8080
externalPort = 80
