modules = ["nodejs-24", "python-3.11", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true
integrations = ["revenuecat:1.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
EXPO_PUBLIC_REVENUECAT_TEST_API_KEY = "test_yvvuNWIxDaKgAQpTApPJmRnlWvv"
EXPO_PUBLIC_REVENUECAT_IOS_API_KEY = "appl_daYhucyljOPkntTBFHuxDXimskq"
EXPO_PUBLIC_REVENUECAT_ANDROID_API_KEY = "goog_MzEYSOPrTiWwvPrMVRHXGyBSKgj"
REVENUECAT_PROJECT_ID = "projdc470e96"
REVENUECAT_TEST_STORE_APP_ID = "appa5947436af"
REVENUECAT_APPLE_APP_STORE_APP_ID = "appc58c9dc509"
REVENUECAT_GOOGLE_PLAY_STORE_APP_ID = "app1b4dc05830"
